*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #EEEEEE;
}


.navbar {
    width: 100%;
    margin: auto 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 100%;
}

.navbar a, .footer a{
    color:black;
    text-decoration:none;
}

.navbar ul {
    font-size: 0;
    list-style-type: none;
    float: right;
}

.navbar .name{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    display: inline-block;
    padding: 15px;
    position: relative;

}

.navbar ul li.aws{
    background-color: #ff9900;
}

.navbar ul li.aws:hover{
    cursor: pointer;
    background-color: #ffac31;
}


.navbar ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    display: inline-block;
    padding: 15px;
    position: relative;
}


.navbar ul li:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}


.containerAbout, .containerSocial, .containerDetailText, .containerSkills {
     margin: 5% auto 0 auto;
     background-color: #f9f9f9;
     max-width: 800px;
    justify-content: left;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 2px 2px rgba(0,0,0,0.06), 0 0 2px 1px rgba(0,0,0,0.03);
    overflow: hidden;
 }
.containerAbout:hover, .containerSocial:hover, .containerDetailText:hover, .containerSkills:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#myPhoto{
    background-color:#2aad4d;
    max-height: 300px;
    border-radius: 50%;
    padding: 50px;
    float: left;
    width: 30%;
}

#aboutText{
    max-height: 300px;
    padding: 50px;
    float: left;
    width: 70%;
    font-family: "Open Sans", sans-serif;
    line-height: 150%;

}

#linkedin{
    max-height: 60px;
    padding: 10px;
    float: left;
    width: 25%;
}


#liimg, #gitimg, #twimg, #mailimg{
    margin-left: 80px;
}

#github{
    max-height: 60px;
    padding: 10px;
    float: left;
    width: 25%;
}

#twitter{
    max-height: 60px;
    padding: 10px;
    float: left;
    width: 25%;
}
#mail{
    max-height: 60px;
    padding: 10px;
    float: left;
    width: 25%;
}
#detail{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 150%;
    padding: 20px;
}
#skillBox{
    padding-left: 175px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.containerSkills h3{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 20px;
}


#footer{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 40px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}
